body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #c2c500, #00c5ccd0);
  padding: 0%;
  margin: 0%;
}

h1,h2,h3,h4,h5,h6{
  padding:0;
  margin:0;
}

#wrapper{
  display: flex;
  justify-content: center;
}

.scoreboard{
  position: absolute;
  width: 100px;
  background-color: #00c5cc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 10, 12, 0.8);  

  padding: 0px 20px 0px 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.scoreboard h1{
  margin-top: 10px;
}


.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  background-image: url("./images/background.jpg");
  background-size: 100% 100%;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 10, 12, 0.8);
}

.misc {
  margin: 10px;
  background-color: beige;
  border-radius: 5px;
  font-size: 30px;
  width: 100vh;
  text-align: center;
  gap: 12px;
}
