body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #c2c500, #00c5ccd0);
  padding: 0%;
  margin: 0%;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  background-color: wheat;
  border-radius: 15px;
}

.misc {
  margin: 10px;
  background-color: beige;
  border-radius: 5px;
  font-size: 30px;
  width: 100vh;
  text-align: center;
  gap: 12px;
}
